@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 14px;
}

a{
  color: blue;
}

#canvas-container {
  background-color: #f0f0f0;
  flex: 3;
  /* padding: 20px 0; */
}

#canvas-instructions {
  width: 80%;
  margin: 30px auto;
  padding: 20px 0;
}
